{% load static %}

<style>
    #user-profile {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("{% static 'img/bg_pic2.jpg' %}") center/cover no-repeat !important;
        width: 100%;
    }
</style>

<section id="side-nav" class="animated ">
    <div class="container-fluid" style="padding: 0; margin: 0;">
        <div class="row">
            <div class="col">
                <div id="user-profile">
                    <div id="user-pic">
                        <i id="user-icon" class="fa fa-user-circle fa-9x text-white"></i>
                    </div>
                    <div id="username">
                        <a>{{ user.username }}</a>
                    </div>
                </div>
                <div id="modules" class="mt-5">
                    <ul>
                        {% if user.is_superuser %}
                            <li class="pb-3">
                                <a href="/gransoft-farms-admin-code-efc123go9090/">
                                    <span style="width: 3rem;"><i class="fa fa-cogs fa-2x"></i></span>
                                    <span class="pr-3 pt-2">Administration</span>
                                </a>
                            </li>
                        {% endif %}

                        <li class="py-3">
                            <a href="">
                                <span style="width: 3rem;"><i class="fa fa-chart-area fa-2x"></i></span>
                                <span class="pr-3 pt-2">Dashboard</span>
                            </a>
                        </li>

                        <li class="py-3">
                            <a onclick="dropDownMenu(this)" id="user-accounts">
                                <span style="width: 3rem;"><i class="fa fa-users-cog fa-2x"></i></span>
                                <span class="pr-3 pt-2">User Accounts</span>
                            </a>
                            <div class="sub-menu pl-4 pt-2 pb-0">
                                <ul>
                                    <li>
                                        <a href="{% url 'user_accounts:create_user_account' %}"
                                                {% if 'create-account' in request.path %}
                                           class="active-sub-module"
                                                {% endif %}
                                        >
                                            <span style="width: 1rem;"><i class="fa fa-user"></i> </span>
                                            <span class="pl-3">Create Account</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span style="width: 1rem;"><i class="fa fa-user-friends"></i></span>
                                            <span class="pl-3">Manage Users</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="py-3">
                            <a onclick="dropDownMenu(this)">
                                <span style="width: 3rem;"><i class="fa fa-dollar-sign fa-2x"></i></span>
                                <span class="pr-3 pt-2">Finance</span>
                            </a>
                            <div class="sub-menu pl-4 pt-2 pb-0">
                                <ul>
                                    <li>
                                        <a href="">
                                            <span style="width: 1rem;"><i class="fa fa-shopping-cart"></i> </span>
                                            <span class="pl-3">Purchases</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span style="width: 1rem;"><i class="fa fa-chart-pie"></i></span>
                                            <span class="pl-3">Sales</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="py-3">
                            <a onclick="dropDownMenu(this)">
                                <span style="width: 3rem;"><i class="fa fa-tint fa-2x"></i></span>
                                <span class="pr-3 pt-2">Medicine / Feeds</span>
                            </a>
                            <div class="sub-menu pl-4 pt-2 pb-0">
                                <ul>
                                    <li>
                                        <a href="">
                                            <span style="width: 1rem;"><i class="fa fa-capsules"></i> </span>
                                            <span class="pl-3">Medicine</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span style="width: 1rem;"><i class="fa fa-hamburger"></i></span>
                                            <span class="pl-3">Feeds</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="py-3">
                            <a onclick="dropDownMenu(this)">
                                <span style="width: 3rem;"><i class="fa fa-dove fa-2x"></i></span>
                                <span class="pr-3 pt-2">Birds</span>
                            </a>
                            <div class="sub-menu pl-4 pt-2 pb-0">
                                <ul>
                                    <li>
                                        <a href="">
                                            <span style="width: 1rem;"><i class="fa fa-store"></i> </span>
                                            <span class="pl-3">Pen House</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span style="width: 1rem;"><i class="fa fa-crow"></i></span>
                                            <span class="pl-3">Stock</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span style="width: 1rem;"><i class="fa fa-feather"></i></span>
                                            <span class="pl-3">Mortality / Culls</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span style="width: 1rem;"><i class="fa fa-syringe"></i></span>
                                            <span class="pl-3">Medicine</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <span style="width: 1rem;"><i class="fas fa-hamburger"></i></span>
                                            <span class="pl-3">Feeds</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="py-3">
                            <a href="">
                                <span style="width: 3rem;"><i class="fas fa-egg fa-2x"></i></span>
                                <span class="pr-3 pt-2">Eggs</span>
                            </a>
                        </li>

                        <li class="py-3">
                            <a href="">
                                <span style="width: 3rem;"><i class="fa fa-balance-scale fa-2x"></i></span>
                                <span class="pr-3 pt-2">Reports</span>
                            </a>
                        </li>

                        <li class="py-3">
                            <a href="javascript:{document.getElementById('logout').submit()}">
                                <span style="width: 3rem;"><i class="fa fa-sign-out-alt fa-2x"></i></span>
                                <span class="pr-3 pt-2">Logout</span>
                            </a>
                            <form action="{% url 'home:logout' %}" method="POST" id="logout" style="display: none">
                                {% csrf_token %}
                                <input type="hidden">
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>