<fieldset class="">
    <legend>Access Rights:</legend>
    <div class="px-5">
        <div class="form-group form-check px-5">
            <label class="form-check-label">
                {{ roles.admin }} Administrator
            </label>
        </div>
        <div class="px-5">
            <div class="row">
                <div class="col">
                    <fieldset class="my-2">
                        <div class="card">
                            <h5 class="card-header">Users</h5>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                {{ roles.user_create }} New User
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                {{ roles.user_update }} Update User
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                {{ roles.user_delete }} Delete User
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="my-2">
                        <div class="card">
                            <h5 class="card-header">Birds</h5>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                {{ roles.fowls_create }} Add New
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                {{ roles.fowls_update }} Update
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                {{ roles.fowls_delete }} Delete
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset class="my-2">
                        <div class="card">
                            <h5 class="card-header">Finance</h5>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                {{ roles.finance_create }} Add New
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                {{ roles.finance_update }} Update
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                {{ roles.finance_delete }} Delete
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</fieldset>