{% extends 'user_accounts/base_user_template.html' %}
{% block breadcrumb %} User Accounts &raquo; Create Account {% endblock breadcrumb %}
{% block content %}
    <section id="user-account" class="p-1">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div>
                        <form action="{% url 'user_accounts:create_user_account' %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="pt-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Name:</label>
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Phone:</label>
                                            {{ form.phone_no }}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Gender:</label>
                                            {{ form.gender }}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Date of Birth:</label>
                                            {{ form.date_of_birth }}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Username:</label>
                                            {{ form.username }}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label for="">Password:</label>
                                            {{ form.password }}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="role">Role:</label>
                                            <select name="role" id="role" class="form-control">
                                                <option value="" selected></option>
                                                {% if roles %}
                                                    {% for role in roles %}
                                                        <option value="{{ role.name }}">{{ role.name }}</option>
                                                    {% endfor %}
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="d-flex justify-content-center mt-3">
                                <input style="width: 15rem;"
                                       type="submit" value="Save" name="save" class="btn btn-info mx-1 px-5">
                                <input style="width: 15rem;"
                                       type="reset" value="Cancel" name="cancel" class="btn btn-secondary mx-1 px-5">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}