{% extends 'base.html' %}
{% block breadcrumb %} User Accounts &raquo; Manage Users {% endblock breadcrumb %}

{% block content %}
    <section id="manage-users" class="p-md-1 p-sm-0">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="mb-1 mt-1">
                        {% if perms.user_accounts.add_user %}
                            <a href="{% url 'user_accounts:create_user_account' %}" class="btn btn-success">
                                Create Account
                            </a>
                        {% endif %}
                        {% if perms.user_accounts.set_password %}
                            <a href="#" data-toggle="modal" data-target="#set-password-modal" class="btn btn-danger">
                                Set Password
                            </a>
                        {% endif %}
                    </div>
                </div>
                <div class="col-12">
                    <table class="table table-sm table-bordered table-responsive-md sortable">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col" class="text-uppercase">Username</th>
                            <th scope="col" class="text-uppercase">Name</th>
                            <th scope="col" class="text-uppercase">Phone</th>
                            <th scope="col" class="text-uppercase">Gender</th>
                            <th scope="col" class="text-uppercase"> Date of birth</th>
                            <th scope="col" class="text-uppercase">Role</th>
                            <th scope="col" class="text-uppercase">Date Created</th>
                            <th scope="col" class="text-uppercase">Last Login</th>
                            {% if perms.user_accounts.delete_user %}
                                <th class="table-head text-uppercase" scope="col">Action</th>
                            {% endif %}
                            <th scope="col" class="text-uppercase">Status</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if paginator_pages %}
                            {% for user in paginator_pages %}
                                <tr>
                                    <th class="m-0 p-0">
                                        <form action="{% url 'user_accounts:update_user' user.0 %}"
                                              method="get" enctype="multipart/form-data">
                                            <button type="submit" class="btn btn-default">
                                                <strong>{{ user.1 }}</strong>
                                            </button>
                                        </form>
                                    </th>
                                    <td>{{ user.2 }}</td>
                                    <td>{{ user.3 }}</td>
                                    <td>{{ user.4 }}</td>
                                    <td>{{ user.5|date:'Y-M-d' }}</td>
                                    <td>{{ user.6 }}</td>
                                    <td>{{ user.7|date:'Y-M-d, H:i' }}</td>
                                    <td>{{ user.8|date:'Y-M-d, H:i' }}</td>
                                    {% if perms.user_accounts.delete_user %}
                                        <td class="m-0 p-0">
                                            <a href="#" data-toggle="modal" data-target="#confirm-modal"
                                               class="text-decoration-none btn btn-default"
                                               onclick="confirmModal('delete-user-{{ user.1 }}', 'Confirm Delete')">
                                                <span><i class="fa fa-trash-alt"></i></span>
                                            </a>
                                            <form action="{% url 'user_accounts:delete_user' user.0 %}"
                                                  method="post" enctype="multipart/form-data" style="display: none"
                                                  id="delete-user-{{ user.1 }}">
                                                {% csrf_token %}
                                                <input type="hidden">
                                            </form>
                                        </td>
                                    {% endif %}
                                    <td class="m-0 p-0">
                                        <a href="#" data-toggle="modal" data-target="#confirm-modal"
                                           class="text-decoration-none btn btn-default"
                                           onclick="confirmModal('toggle-user-status-{{ user.1 }}', 'Confirm Status Change')">
                                            <span>
                                                {% if user.9 %}
                                                    <i class="fa fa-lock-open"></i>
                                                {% else %}
                                                    <i class="fa fa-lock"></i>
                                                {% endif %}
                                            </span>
                                        </a>
                                        <form action="{% url 'user_accounts:toggle_user_status' %}"
                                              method="post" style="display: none"
                                              id="toggle-user-status-{{ user.1 }}"
                                              enctype="multipart/form-data">{% csrf_token %}
                                            <input type="hidden" value="{{ user.0 }}" name="user_id">
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                    {% include 'partials/_pagination.html' %}
                    {% include 'partials/_confirm_modal.html' %}
                    <div class="modal fade" id="set-password-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                {#                    modal header #}
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirm-modal-title">Set User Password</h5>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                {#                    end of modal header#}

                                {#                    modal body #}
                                <div class="modal-body">
                                    <form action="{% url 'user_accounts:set_user_password' %}" method="post"
                                          enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="username"
                                                   placeholder="username" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password1"
                                                   placeholder="password" required>
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password2"
                                                   placeholder="confirm password" required>
                                        </div>
                                        <div class="d-flex justify-content-center align-content-center">
                                            <input class="btn btn-success w-50 mr-1" type="submit" value="Save">
                                            <input class="btn btn-danger w-50 ml-1" type="reset" value="Cancel"
                                                   data-dismiss="modal">
                                        </div>
                                    </form>
                                </div>
                                {#                    end of modal body #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}