{% if perms.user_accounts %}
    {% if perms.user_accounts.add_user %}
        <li class="py-3">
            <a href="{% url 'user_accounts:create_user_account' %}"
                    {% if 'user-accounts/create-account' in request.path %}
               class="active-sub-module"
                    {% endif %}
            >
                <span style="width: 3rem;"><i class="fa fa-user fa-2x"></i> </span>
                <span class="">Create Account</span>
            </a>
        </li>
    {% endif %}
    {% if perms.user_accounts.update_user %}
        <li class="py-3">
            <a href="{% url 'user_accounts:manage_users' %}"
                    {% if 'user-accounts/manage-users'  in request.path %}
               class="active-sub-module"
                    {% endif %}
            >
                <span style="width: 3rem;"><i class="fa fa-user-friends fa-2x"></i></span>
                <span class="">Manage Users</span>
            </a>
        </li>
    {% endif %}
    {% if perms.user_accounts.manage_roles %}
        <li class="py-3">
            <a href="{% url 'user_accounts:manage_roles' %}"
                    {% if 'user-accounts/manage-roles'  in request.path %}
               class="active-sub-module"
                    {% endif %}
            >
                <span style="width: 3rem;"><i class="fa fa-user-cog fa-2x"></i></span>
                <span class="">Manage Roles</span>
            </a>
        </li>
    {% endif %}
{% endif %}