{% extends 'base.html' %}
{% block breadcrumb %} User Accounts &raquo; Update Account &raquo;
    {{ form.instance.username }} {% endblock breadcrumb %}

{% block content %}
    <section id="update-user-account">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div>
                        <form action="{% url 'user_accounts:update_user' form.instance.pk %}" method="post"
                              enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="pt-4">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="custom-form-input">
                                            {{ form.name }}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="custom-form-input">
                                            {{ form.phone_no }}
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="custom-form-input">
                                            {{ form.gender }}
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="custom-form-input">
                                            {{ form.date_of_birth }}
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            {% include 'user_accounts/access_rights.html' %}

                            <div class="d-flex justify-content-center mt-3">
                                <input style="width: 15rem;"
                                       type="submit" value="Save" name="save" class="btn btn-info mx-1 px-5">
                                <input style="width: 15rem;"
                                       type="reset" value="Cancel" name="cancel" class="btn btn-secondary mx-1 px-5">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block javascript %}
    {% include 'user_accounts/extra_js.html' %}
{% endblock javascript %}