{% extends 'birds/base_birds_template.html' %}
{% block breadcrumb %}  Birds &raquo;  Penhouse {% endblock breadcrumb %}
{% load humanize %}
{% block content %}
    {% if perms.birds.birds_manage_pen_house %}
        <section id="manage-penhouse">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 d-flex" id="filtering">
                        <div class="m-1">
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#penhouse-modal">
                                Add New
                            </a>
                            <div class="modal fade" id="penhouse-modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        {#                    modal header #}
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirm-modal-title">Penhouse Form</h5>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        {#                    end of modal header#}

                                        {#                    modal body #}
                                        <div class="modal-body">
                                            <form action="{% url 'birds:manage_penhouse' %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="">Pen Number:</label>
                                                    {{ form.pen_number }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Pen Name:</label>
                                                    {{ form.pen_name }}
                                                </div>
                                                <div class="form-group" hidden>
                                                    <label for="">Pen Name:</label>
                                                    {{ form.auth_user }}
                                                </div>
                                                <input type="hidden" name="path" value="{{ request.get_full_path }}">
                                                <div class="d-flex">
                                                    <button type="submit" class="btn btn-danger w-50 p-1 mr-1">
                                                        Save
                                                    </button>
                                                    <button type="reset" class="btn btn-secondary w-50 p-1 ml-1"
                                                            data-dismiss="modal">Cancel
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        {#                    end of modal body #}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-1">
                            <form action="{% url 'birds:manage_penhouse' %}" method="get" class="m-0 p-0">
                                <div class="input-group">
                                    <input type="text" name="search" placeholder="search"
                                           class="form-control ml-1" value="{{ values.search }}"
                                           style="width: 20rem;">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="submit">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12">
                        <div id="result_table">
                            <table class="table table-sm table-bordered table-responsive-md sortable">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-uppercase">Pen Number</th>
                                    <th scope="col" class="text-uppercase">Pen Name</th>
                                    <th scope="col" class="text-uppercase">Date Created</th>
                                    <th scope="col" class="text-uppercase">Number of Birds</th>
                                    <th class="text-uppercase" scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if paginator_pages %}
                                    {% for pen, form in queryset %}
                                        <tr>
                                            <th class="">
                                                <a href="#" class="text-decoration-none text-dark"
                                                   data-toggle="modal"
                                                   data-target="#penhouse-update-modal-{{ pen.0 }}">
                                                    {{ pen.1 }}
                                                </a>
                                                <div class="modal fade" id="penhouse-update-modal-{{ pen.0 }}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            {#                    modal header #}
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="confirm-modal-title">
                                                                    Penhouse Form</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">&times;
                                                                </button>
                                                            </div>
                                                            {#                    end of modal header#}

                                                            {#                    modal body #}
                                                            <div class="modal-body">
                                                                <form action="{% url 'birds:update_penhouse' pen.0 %}"
                                                                      method="post">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <label for="{{ pen.1 }}"
                                                                               class="font-weight-normal">Pen
                                                                            Number:</label>
                                                                        {{ form.pen_number }}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="{{ pen.2 }}"
                                                                               class="font-weight-normal">Pen
                                                                            Name:</label>
                                                                        {{ form.pen_name }}
                                                                    </div>
                                                                    <div class="form-group" hidden>
                                                                        <input type="hidden" name="pen-id"
                                                                               value="{{ pen.0 }}">
                                                                        {{ form.auth_user }}
                                                                    </div>
                                                                    <input type="hidden" name="path"
                                                                           value="{{ request.get_full_path }}">
                                                                    <div class="d-flex">
                                                                        <button type="submit"
                                                                                class="btn btn-danger w-50 p-1 mr-1">
                                                                            Save
                                                                        </button>
                                                                        <button type="reset"
                                                                                class="btn btn-secondary w-50 p-1 ml-1"
                                                                                data-dismiss="modal">Cancel
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            {#                    end of modal body #}
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>
                                                <a href="#" class="text-decoration-none text-dark"
                                                   data-toggle="modal"
                                                   data-target="#penhouse-update-modal-{{ pen.0 }}">
                                                    {{ pen.2 }}
                                                </a>
                                            </td>
                                            <td>{{ pen.3|date:'Y-M-d' }}</td>
                                            <td>{{ pen.4|intcomma }}</td>
                                            <td class="m-0 p-0">
                                                <a href="#" data-toggle="modal" data-target="#confirm-modal"
                                                   class="text-decoration-none btn btn-outline-danger ml-3"
                                                   onclick="confirmModal('delete-pen-{{ pen.0 }}', 'Confirm Delete')">
                                                    <span><i class="fa fa-trash-alt"></i></span>
                                                </a>
                                                <form action="{% url 'birds:delete_penhouse' pen.0 %}"
                                                      method="post" enctype="multipart/form-data"
                                                      style="display: none"
                                                      id="delete-pen-{{ pen.0 }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="path"
                                                           value="{{ request.get_full_path }}">
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'partials/_pagination.html' %}
                        {% include 'partials/_confirm_modal.html' %}
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock content %}