<div class="modal fade" id="penhouse-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            {#                    modal header #}
            <div class="modal-header">
                <h5 class="modal-title" id="confirm-modal-title">Penhouse Form</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            {#                    end of modal header#}

            {#                    modal body #}
            <div class="modal-body">
                <form action=""></form>
                <div class="d-flex">
                    <button type="button" class="btn btn-danger w-50 p-1 mr-1" id="confirm-modal-button">Yes</button>
                    <button type="button" class="btn btn-secondary w-50 p-1 ml-1" data-dismiss="modal">No</button>
                </div>
            </div>
            {#                    end of modal body #}
        </div>
    </div>
</div>