{% extends 'finance/base_finance_template.html' %}
{% block breadcrumb %} Finance &raquo; Purchases &raquo; Create Purchase {% endblock breadcrumb %}

{% block content %}
    <section id="create-purchase">
        <div class="container-fluid">
            <div class="row">
                <div class="col pt-4">
                    <form action="{% url 'finance:create_purchase' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {#                        {{ form.media }}#}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="">Supplier Name:</label>
                                {{ form.supplier_name }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Phone:</label>
                                {{ form.phone }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Address:</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Invoice No.:</label>
                                {{ form.invoice_no }}
                                {% if form.invoice_no.errors %}
                                    <div class="alert alert-danger m-0 p-0">
                                        {{ form.invoice_no.errors }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-12 dynamic-formset">
                                {{ purchase_detail_form.management_form }}
                                {% for field in purchase_detail_form %}
                                    <div class="row">
                                        <div class="form-group col-md-2">
                                            <label for=""></label>
                                            {{ field.quantity }}
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for=""></label>
                                            {{ field.unit_price }}
                                        </div>
                                        <div class="form-group col-md-2">
                                            <label for=""></label>
                                            {{ field.amount }}
                                        </div>
                                        <div class="form-group col-md-5">
                                            <label for=""></label>
                                            {{ field.description }}
                                        </div>
                                        <div class="form-group col-md-2" hidden>
                                            <label for=""></label>
                                            {{ field.invoice_no }}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="form-group col-12" hidden>
                                <label for=""></label>
                                {{ form.auth_user }}
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <input style="width: 15rem;"
                                   type="submit" value="Save" name="save" class="btn btn-info mx-1 px-5">
                            <input style="width: 15rem;"
                                   type="reset" value="Cancel" name="cancel" class="btn btn-secondary mx-1 px-5">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block javascript %}
    {% include 'finance/purchases/extra_js.html' %}
{% endblock javascript %}
