<script>
    let addBtn = document.getElementsByClassName('dynamic-add-btn')[0];
    let deleteBtn = document.getElementsByClassName('dynamic-delete-btn');

    function setAmountValue(a, q, u) {
        a.value = q.value * u.value
    }

    function setcalcAmountListener(id_num) {
        let qty = document.getElementById(`id_purchasedetail_set-${id_num}-quantity`);
        let u_p = document.getElementById(`id_purchasedetail_set-${id_num}-unit_price`);
        let amt = document.getElementById(`id_purchasedetail_set-${id_num}-amount`);

        qty.addEventListener('input', function () {
            setAmountValue(amt, qty, u_p)
        });
        u_p.addEventListener('input', function () {
            setAmountValue(amt, qty, u_p)
        });
    }

    function calcAmount() {
        let d;
        for (d = 0; d < deleteBtn.length; d++) {
            setcalcAmountListener(d);
        }
    }

    calcAmount();
    addBtn.addEventListener('click', calcAmount);
</script>