{% extends 'finance/base_finance_template.html' %}
{% block breadcrumb %} Finance &raquo; Purchases &raquo; Update Purchase {% endblock breadcrumb %}

{% block content %}
    <section id="update-purchase">
        <div class="container-fluid">
            <div class="row">
                <div class="col pt-4">
                    <form action="{% url 'finance:update_purchase' %}" method="post"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="">Supplier Name:</label>
                                {{ form.supplier_name }}
                            </div>
                            <div class="form-group col-md-6">
                                <label for="">Phone:</label>
                                {{ form.phone }}
                            </div>
                            <div class="form-group col-12">
                                <label for="">Address:</label>
                                {{ form.address }}
                            </div>
                            <div class="form-group col-12" hidden>
                                <input type="hidden" hidden name="inv_no" value="{{ form.instance.invoice_no }}">
                            </div>
                            <div class="form-group col-12" hidden>
                                <input type="hidden" hidden name="p_id" value="{{ form.instance.pk }}">
                            </div>
                        </div>
                        <div class="col-12 dynamic-formset">
                            {{ purchase_detail_form.management_form }}
                            <div class="row">
                                {% for form in purchase_detail_form %}
                                    <div class="form-group col-md-2">
                                        <label for=""></label>
                                        {{ form.quantity }}
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for=""></label>
                                        {{ form.unit_price }}
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label for=""></label>
                                        {{ form.amount }}
                                    </div>
                                    <div class="form-group col-md-5">
                                        <label for=""></label>
                                        {{ form.description }}
                                    </div>
                                    <div class="form-group col-md-2" hidden>
                                        <label for=""></label>
                                        {{ form.invoice_no }}
                                    </div>
                                    <div class="form-group col-md-2" hidden>
                                        <label for=""></label>
                                        {{ form.id }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mt-3">
                            <input style="width: 15rem;"
                                   type="submit" value="Save" name="save" class="btn btn-info mx-1 px-5">
                            <input style="width: 15rem;"
                                   type="reset" value="Cancel" name="cancel" class="btn btn-secondary mx-1 px-5">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
{% block javascript %}
    <script>
        let addBtn = document.getElementsByClassName('dynamic-add-btn')[0];

        function setAmountValue(a, q, u) {
            a.value = q.value * u.value
        }

        let i;

        function setcalcAmountListener() {
            for (i = 0; i < 20; i++) {
                let qty = document.getElementById(`id_form-${i}-quantity`);
                let u_p = document.getElementById(`id_form-${i}-unit_price`);
                let amt = document.getElementById(`id_form-${i}-amount`);

                qty.addEventListener('input', function () {
                    setAmountValue(amt, qty, u_p)
                });
                u_p.addEventListener('input', function () {
                    setAmountValue(amt, qty, u_p)
                });
            }
        }

        setcalcAmountListener();
        addBtn.addEventListener('click', setcalcAmountListener);
    </script>
{% endblock javascript %}
