<li class="py-3">
    <a onclick="dropDownMenu(this)" id="medicine-module">
        <span style="width: 3rem;"><i class="fa fa-tint fa-2x"></i></span>
        <span class="pr-3 pt-2">Medicine</span>
    </a>
    <div class="sub-menu pl-4 pt-2 pb-0">
        <ul>
            <li>
                <a href="">
                    <span style="width: 1rem;"><i class="fa fa-prescription-bottle-alt"></i> </span>
                    <span class="pl-3">Add New</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span style="width: 1rem;"><i class="fa fa-capsules"></i></span>
                    <span class="pl-3">Manage Meds</span>
                </a>
            </li>
        </ul>
    </div>
</li>

<li class="py-3">
    <a onclick="dropDownMenu(this)" id="feeds-module">
        <span style="width: 3rem;"><i class="fa fa-hamburger fa-2x"></i></span>
        <span class="pr-3 pt-2">Feeds</span>
    </a>
    <div class="sub-menu pl-4 pt-2 pb-0">
        <ul>
            <li>
                <a href="">
                    <span style="width: 1rem;"><i class="fa fa-capsules"></i> </span>
                    <span class="pl-3">Add New</span>
                </a>
            </li>
            <li>
                <a href="">
                    <span style="width: 1rem;"><i class="fa fa-hamburger"></i></span>
                    <span class="pl-3">Manage Feeds</span>
                </a>
            </li>
        </ul>
    </div>
</li>