{% extends 'base.html' %}
{% block modules %} {% include 'eggs/modules.html' %} {% endblock modules %}
{% block breadcrumb %}  Eggs &raquo; Manage {% endblock breadcrumb %}
{% load humanize %}
{% block content %}
    <section id="eggs">
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <div class="col-12 d-flex m-0 p-0" id="filtering">
                        <div class="m-1">
                            <a href="#" class="btn btn-success" data-toggle="modal" data-target="#egg-modal">
                                Add New
                            </a>
                            <div class="modal fade" id="egg-modal">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        {#                    modal header #}
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirm-modal-title">Egg Form</h5>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        {#                    end of modal header#}

                                        {#                    modal body #}
                                        <div class="modal-body">
                                            <form action="{% url 'eggs:manage_eggs' %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <label for="">Pen House:</label>
                                                    {{ form.pen }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Time:</label>
                                                    {{ form.time }}
                                                </div>
                                                <div class="form-group">
                                                    <label for="">Quantity:</label>
                                                    {{ form.quantity }}
                                                </div>
                                                <div class="form-group" hidden>
                                                    {{ form.auth_user }}
                                                </div>
                                                <input type="hidden" name="path" value="{{ request.get_full_path }}">
                                                <div class="d-flex">
                                                    <button type="submit" class="btn btn-danger w-50 p-1 mr-1">
                                                        Save
                                                    </button>
                                                    <button type="reset" class="btn btn-secondary w-50 p-1 ml-1"
                                                            data-dismiss="modal">Cancel
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                        {#                    end of modal body #}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="m-1">
                            <form action="{% url 'eggs:manage_eggs' %}" method="get" class="m-0 p-0">
                                <div class="input-group">
                                    <input type="date" name="date1" class="form-control"
                                           value="{{ values.date1 }}" required>
                                    <input type="date" name="date2" class="form-control"
                                           value="{{ values.date2 }}" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="submit" name="filter">
                                            <i class="fa fa-calendar-alt"></i>
                                            Filter
                                        </button>
                                    </div>
                                    <input type="text" name="search" placeholder="search"
                                           class="form-control ml-1" value="{{ values.search }}"
                                           style="width: 20rem;">
                                    <div class="input-group-append">
                                        <button class="btn btn-info" type="submit">
                                            <i class="fa fa-search"></i>
                                            Search
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-12 m-0 p-0">
                        <div id="result_table">
                            <table class="table table-sm table-bordered table-responsive-md sortable">
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col" class="text-uppercase">ID</th>
                                    <th scope="col" class="text-uppercase">Pen House</th>
                                    <th scope="col" class="text-uppercase">Date Created</th>
                                    <th scope="col" class="text-uppercase">Time</th>
                                    <th scope="col" class="text-uppercase">Quantity</th>
                                    <th class="text-uppercase" scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% if paginator_pages %}
                                    {% for egg, form in queryset %}
                                        <tr>
                                            <th class="">
                                                <a href="#" class="text-decoration-none text-dark"
                                                   data-toggle="modal"
                                                   data-target="#egg-update-modal-{{ egg.0 }}">
                                                    {{ egg.0 }}
                                                </a>
                                                <div class="modal fade" id="egg-update-modal-{{ egg.0 }}">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            {#                    modal header #}
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="confirm-modal-title">
                                                                    Egg Form</h5>
                                                                <button type="button" class="close"
                                                                        data-dismiss="modal">&times;
                                                                </button>
                                                            </div>
                                                            {#                    end of modal header#}

                                                            {#                    modal body #}
                                                            <div class="modal-body">
                                                                <form action="{% url 'eggs:update_egg' egg.0 %}"
                                                                      method="post">
                                                                    {% csrf_token %}
                                                                    <div class="form-group">
                                                                        <label for="">Pen House:</label>
                                                                        {{ form.pen }}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="">Time:</label>
                                                                        {{ form.time }}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="">Quantity:</label>
                                                                        {{ form.quantity }}
                                                                    </div>
                                                                    <div class="form-group" hidden>
                                                                        {{ form.auth_user }}
                                                                    </div>
                                                                    <input type="hidden" name="path"
                                                                           value="{{ request.get_full_path }}">
                                                                    <div class="d-flex">
                                                                        <button type="submit"
                                                                                class="btn btn-danger w-50 p-1 mr-1">
                                                                            Save
                                                                        </button>
                                                                        <button type="reset"
                                                                                class="btn btn-secondary w-50 p-1 ml-1"
                                                                                data-dismiss="modal">Cancel
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                            {#                    end of modal body #}
                                                        </div>
                                                    </div>
                                                </div>
                                            </th>
                                            <td>
                                                <a href="#" class="text-decoration-none text-dark"
                                                   data-toggle="modal"
                                                   data-target="#egg-update-modal-{{ egg.0 }}">
                                                    {{ egg.1 }}
                                                </a>
                                            </td>
                                            <td>{{ egg.2|date:'Y-M-d' }}</td>
                                            <td>{{ egg.3|naturaltime }}</td>
                                            <td>{{ egg.4|intcomma }}</td>
                                            <td class="m-0 p-0">
                                                <a href="#" data-toggle="modal" data-target="#confirm-modal"
                                                   class="text-decoration-none btn btn-outline-danger ml-3"
                                                   onclick="confirmModal('delete-egg-{{ egg.0 }}', 'Confirm Delete')">
                                                    <span><i class="fa fa-trash-alt"></i></span>
                                                </a>
                                                <form action="{% url 'eggs:delete_egg' egg.0 %}"
                                                      method="post" enctype="multipart/form-data"
                                                      style="display: none"
                                                      id="delete-egg-{{ egg.0 }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="path"
                                                           value="{{ request.get_full_path }}">
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% endif %}
                                </tbody>
                            </table>
                        </div>
                        {% include 'partials/_pagination.html' %}
                        {% include 'partials/_confirm_modal.html' %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %} {% endblock javascript %}
