<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ user.username }}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/core.css' %}">

</head>
<body>

{# nav bar#}
<div id="nav-bar">
    <div id="">
        {% include 'partials/_top_bar.html' %}
    </div>

    <div id="">
        {% include 'partials/_side_nav.html' %}
    </div>
</div>
{# end of nav bar #}

{# side nav overlay #}
<div id="side-nav-overlay" class="animated "></div>
{# end of side nave overlay #}

{# bread crumbs #}
<section id="bread-crumbs" style="width: 85%" class="pb-3 mb-5">
    <span class="ml-2" style="font-size: inherit !important;">{% block breadcrumb %} {% endblock breadcrumb %}</span>
</section>
{# end of bread crumbs #}

{# main content #}
<div id="main-content" style="width: 85%">
    {% include 'partials/_alerts.html' %}
    {% block content %} {% endblock content %}
</div>
{# end of main content #}

{# footer #}
{% include 'partials/_footer.html' %}
{# end of footer #}

<script rel="script" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script rel="script" src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script rel="script" src="{% static 'js/all.min.js' %}"></script>
<script rel="script" src="{% static 'js/sorttable.js' %}"></script>
<script rel="script" src="{% static 'js/core.js' %}"></script>
{% block javascript %} {% endblock javascript %}
</body>
</html>