{% if perms.finance %}
    {% if perms.finance.finance_add_new %}
        <li class="py-3">
            <a href="{% url 'finance:create' %}"
                    {% if '/finance/create/' in request.path %}
               class="active-sub-module"
                    {% endif %}>
                <span style="width: 3rem;"><i class="fa fa-plus-circle fa-2x"></i> </span>
                <span class="">Create</span>
            </a>
        </li>
    {% endif %}
    {% if perms.finance.finance_update %}
        <li class="py-3">
            <a href="{% url 'finance:manage' %}"
                    {% if '/finance/manage/' in request.path %}
               class="active-sub-module"
                    {% endif %}>
                <span style="width: 3rem;"><i class="fa fa-luggage-cart fa-2x"></i></span>
                <span class="">Manage</span>
            </a>
        </li>
    {% endif %}
{% endif %}